<div class="ms-2">
  <% if user.role_id == 3 %>
    <h3>- <%= User.find(user.super_id).name%> -</h3>
  <% end %>
</div>
<div id="<%= dom_id user %>"class="d-flex justify-content-between m-2 p-3 border-bottom">
  <h2><%= user.email %></h2>
  <div class="btn-group mx-3" role="group" aria-label="usuario">
    <%= link_to edit_user_path, class: "btn btn-warning" do %>
      <%= fa_icon "exchange" , text: " Editar" %>
    <% end %>
    <%= button_to user_path(user), method: :delete, class: "btn btn-danger" do %>
      <%= fa_icon "trash" , text: " Eliminar" %>
    <% end %>
  </div>
</div>

<div id="user_characteristics" class="p-2 border-bottom">
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-4 list-group-item">
      <%= user.nif %>
    </li>
  </ul>
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-12 list-group-item"><%= user.name %></li>
  </ul>
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-10 list-group-item"><%= user.address %></li>
    <li class="col-2 list-group-item"><%= user.pc %></li>
  </ul>
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-9 list-group-item"><%= user.city %></li>
    <li class="col-3 list-group-item"><%= user.province %></li>
  </ul>
  <ul class="row list-group list-group-horizontal m-2">
    <li class="col-6 list-group-item"><%= user.phone %></li>
    <li class="col-6 list-group-item"><%= user.email2 %></li>
  </ul>
</div>

<% if user.super? %>
  <div id="subordinados" class="p-2 border-bottom">
    <%= render "users/subordinates" %>
  </div>
<% end %>

<div id="teches" class="p-2 border-bottom">
  <%= render "users/teches" %>
</div>
<div id="rooms" class="p-2 border-bottom">
  <%= render "users/rooms" %>
</div>        

