<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user.city %>
  </p>

  <p>
    <strong>Pc:</strong>
    <%= user.pc %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= user.province %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Email2:</strong>
    <%= user.email2 %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role_id %>
  </p>

</div>
