<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.date_select :day, order: [:day, :month, :year],
     start_year: Date.today.year,
     end_year: Date.today.year + 1,
     default: Date.today %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_select :start_time, {minute_step: 30} %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.time_select :end_time, {minute_step: 30} %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :tools, style: "display: block" %>
    <%= form.text_area :tools %>
  </div>

  <div>
    <%= form.label :others, style: "display: block" %>
    <%= form.text_area :others %>
  </div>

  <div>
    <%= form.label :room_id, style: "display: block" %>
    <%= form.collection_select :room_id, @rooms, :id, :name %>
  </div>

  <div>
    <%= form.label :tech_id, style: "display: block" %>
    <%= form.collection_select :tech_id, @teches, :id, :name %>
  </div>

  <%= form.hidden_field :user_id, value: params[:user_id] %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
