<div id="<%= dom_id reservation %>">
  <p>
    <strong>Day:</strong>
    <%= reservation.day %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= reservation.hour %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= reservation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reservation.description %>
  </p>

  <p>
    <strong>Tools:</strong>
    <%= reservation.tools %>
  </p>

  <p>
    <strong>Others:</strong>
    <%= reservation.others %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </p>

  <p>
    <strong>Tech:</strong>
    <%= reservation.tech_id %>
  </p>

</div>
