<% if @reservations.empty? %>
<p>No hay reservas añadidas todavía</p>
<% else %>
<table>
  <thead>
    <tr>
      <td>Título</td>
      <td>Fecha</td>
      <td>Inicio</td>
      <td>Fin</td>
      <td>Sala</td>
      <td>Técnico</td>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.title, reservation %></td>
        <td><%= reservation.day.strftime("%d/%m/%Y") %></td>
        <td><%= reservation.start_time.strftime("%H:%M") %></td>
        <td><%= reservation.end_time.strftime("%H:%M") %></td>
        <td><%= link_to reservation.room.name, reservation.room %></td>
        <td><%= link_to reservation.tech.name, reservation.tech %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>