<div class="simple-calendar">
  <div class="calendar-heading m-2 p-3">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-sm btn-primary" %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-sm btn-primary" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.each do |day| %>
          <th colspan="10"> <%= t('date.day_names')[day.wday]%>, <%= day.strftime("%d") %> de <%= t('date.month_names')[day.month] %> </th>
        <% end %>
      </tr>
      <tr>
        <th colspan="1">Hora</th>
        <th colspan="9">Eventos</th>
      </tr>
    </thead>
    <tbody>
      <% date_range.each do |day| %>
        <% @hours.each do |h|%>
          <tr>   
            <td colspan="1"> <%= h.to_s + ":00" %> </td>
            <% if is_used(sorted_events.fetch(day, []), h) %>
              <td colspan="9" class= <%= "bg-success" if is_used(sorted_events.fetch(day, []), h) %> 
                title= <%= is_used(sorted_events.fetch(day, []), h).room.name %> >
                <%= link_to is_used(sorted_events.fetch(day, []), h).title, is_used(sorted_events.fetch(day, []), h) %> 
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>