<div class="simple-calendar">
  <div class="calendar-heading m-2 p-3">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-sm btn-primary" %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-sm btn-primary" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.each do |day| %>
        <th colspan="10"> <%= t('date.day_names')[day.wday]%>, <%= day.strftime("%d") %> de
          <%= t('date.month_names')[day.month] %> </th>
        <% end %>
      </tr>
      <tr>
        <th colspan="1">Hora</th>`
        <% @rooms.each do |room| %>
          <th><%= link_to room.name, room %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each do |day| %>
        <% @hours.each do |h|%>
          <% if is_used(sorted_events.fetch(day, []), h) %>
            <% is_used(sorted_events.fetch(day, []), h).each do |reservation| %>
              <tr>
                <td> <%= h.to_s + ":00" if reservation ==  is_used(sorted_events.fetch(day, []), h).first %> </td>
                <% @rooms.each do |room| %>
                  <% if reservation.room.id == room.id %>
                    <td class= <%= state_style(reservation) %> title= <%= reservation.title %> >
                      <%= link_to reservation.title, reservation %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>