<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Mes", reservations_path, 
      class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Semana", reservations_path(table: "week"), 
      class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Dia", reservations_path(table: "day"), 
    class: "nav-link active" %>  </li>
</ul>

<%= calendar(number_of_days: 1, events: @reservations) do |date, reservations| %>
  <% reservations.each do |reservation| %>
    <div class="row">
      <%= reservation.start_time %>
      <!-- 
        <div class="col-1">
        <%= link_to reservation.room.name, reservation, 
          class: "badge bg-success rounded-pill",
          style: "width: 5rem; text-overflow: ellipsis; overflow: hidden",
          title: reservation.title %>
      </div>
      -->    
    </div>
  <% end %>
<% end %>